<ion-view title="美O圈" >
<ion-content style="background:#ffffff;">
  <ion-refresher pulling-text="下拉刷新"	on-refresh="doRefresh()"></ion-refresher>
  <div id="content">
	  <section style=" background-color: #ffffff; padding-top: 5px; padding-bottom: 6px; ">
  	  <h3 style='text-align: center;padding-top: 20px;' ng-if="quans.length == 0">暂未发表任何美O圈数据</h3>
	  <ul class="productlst">
	    <li ng-repeat="q in quans" ng-click="quanDetail('{{q.id}}')">
	      <div class="productlst-img-box" style="background-image:url(http://www.parsec.com.cn/Cetus/pic/{{q.imgUrl}})"></div>
	    </li>
	  </ul>
	  </section>
  </div>
</ion-content>
</ion-view>

