<ion-header-bar class="bar-stable" style="border-bottom:1px solid #b2b2b2 !important">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="backGo()"></a>
    <h1 class="title">账户设置</h1>
</ion-header-bar>
<div class="tabs-striped tabs-top tabs-light tabs-icon-top">
  <div class="tabs">
   <a ng-class="{a: 'tab-item active', b: 'tab-item', c: 'tab-item'}[isActive]" data-active="a" ng-click="changeTab($event)" style="font-size:16px;line-height:48px;margin:0 28px">待付款</a>
   <a ng-class="{a: 'tab-item', b: 'tab-item active', c: 'tab-item'}[isActive]" data-active="b" ng-click="changeTab($event)" style="font-size:16px;line-height:48px;margin:0 28px">待收货</a>
   <a ng-class="{a: 'tab-item', b: 'tab-item', c: 'tab-item active'}[isActive]" data-active="c" ng-click="changeTab($event)" style="font-size:16px;line-height:48px;margin:0 28px">已完成</a>
  </div>
 </div>
<ion-content class="has-subheader">
<div ng-if="isActive == 'a'" class="wrap-page swiper-container">
      <div class="list padding">
        <ul class="orderlst db" id="obligation">
		    <li  ng-repeat="order in orderWf">
		      <div class="order-info"><span class="col-6 left text-left">订单号：{{order.ordNum}}</span><span class="col-6 right text-right">{{order.showRiseTime}} 下单</span></div>
		      <div class="orderlst-top">
		        <div ng-repeat="i in order.items" class="img left" >
		        	<img src="http://www.parsec.com.cn/Cetus/pic/{{i.imgurl}}" style="width: 62px;height: 62px;margin: 2px;"/>
		        </div>
		        <div class="orderlst-top-content ">
		          <p class="orderlst-top-content-title" ng-repeat="i in order.items">{{::i.name}}</p>
		          <!-- <p ng-bind-html ='product.details'></p> -->
		          <p class="orderlst-top-content-attr" ng-repeat="i in order.items"><span class="col-6 text-left">{{i.parameter}}</span><span class="col-6 text-right"><em class="orderlst-num">x{{i.num}}</em><em class="orderlst-price">￥{{i.prince}}</em></span></p>
		        </div>
		      </div>
		      <div class="orderlst-resault text-right" ng-repeat="i in order.items"><span class="orderlst-resault-name">共{{i.num}}件商品   实付:</span> <span class="orderlst-resault-value price">￥{{order.orderMoney}}</span></div>
		      <div class="orderlst-foot text-right"><a href="#" ng-click="removeOrder({{order.id}})" class="btn normal-btn">取消</a><a href="#" class="btn normal-btn" ng-click="payOrder({{order.id}})">付款</a></div>
		    </li>
        </ul>
    </div>
</div>
<div ng-if="isActive == 'b'">
	 <div class="list padding">
        <ul class="orderlst db" id="obligation">
		    <li  ng-repeat="order in orderYf">
		      <div class="order-info"><span class="col-6 left text-left" >订单号：{{order.ordNum}}</span><span class="col-6 right text-right">{{order.showRiseTime}} 下单</span></div>
		      <div class="orderlst-top">
		        <div ng-repeat="i in order.items" class="img left" >
		        	<img src="http://www.parsec.com.cn/Cetus/pic/{{i.imgurl}}" style="width: 62px;height: 62px;margin: 2px;"/>
		        </div>
		        <div class="orderlst-top-content ">
		          <p class="orderlst-top-content-title" ng-repeat="i in order.items">{{::i.name}}</p>
		          <!-- <p ng-bind-html ='product.details'></p> -->
		          <p class="orderlst-top-content-attr" ng-repeat="i in order.items"><span class="col-6 text-left">{{i.parameter}}</span><span class="col-6 text-right"><em class="orderlst-num">x{{i.num}}</em><em class="orderlst-price">￥{{i.prince}}</em></span></p>
		        </div>
		      </div>
		      <div class="orderlst-resault text-right" ng-repeat="i in order.items"><span class="orderlst-resault-name">共{{i.num}}件商品   实付:</span> <span class="orderlst-resault-value price">￥{{order.orderMoney}}</span></div>
		      <div class="orderlst-foot text-right"><a href="#" class="btn normal-btn" ng-click="successOrder({{order.id}})">确认收货</a></div>
		    </li>
        </ul>
    </div>
</div>
<div ng-if="isActive == 'c'">
	 <div class="list padding">
        <ul class="orderlst db" id="obligation">
		    <li  ng-repeat="order in orderYwc">
		      <div class="order-info"><span class="col-6 left text-left">订单号：{{order.ordNum}}</span><span class="col-6 right text-right">{{order.showRiseTime}} 下单</span></div>
		      <div class="orderlst-top">
		        <div ng-repeat="i in order.items" class="img left" style="background-image:url(http://www.parsec.com.cn/Cetus/pic/{{i.imgurl}})" >
		        	
		        </div>
		        <div class="orderlst-top-content ">
		          <p class="orderlst-top-content-title" ng-repeat="i in order.items">{{i.name}}</p>
		          <!-- <p ng-bind-html ='product.details'></p> -->
		          <p class="orderlst-top-content-attr" ng-repeat="i in order.items"><span class="col-6 text-left">{{i.parameter}}</span><span class="col-6 text-right"><em class="orderlst-num">x{{i.num}}</em><em class="orderlst-price">￥{{i.prince}}</em></span></p>
		        </div>
		      </div>
		      <div class="orderlst-resault text-right" ng-repeat="i in order.items"><span class="orderlst-resault-name">共{{i.num}}件商品   实付:</span> <span class="orderlst-resault-value price">￥{{order.orderMoney}}</span></div>
		      <div class="orderlst-foot text-right"><a href="#" class="btn danger-btn" ng-click="deleteOrder({{order.id}})">删除订单</a><a ng-click="chaWuliu({{order}})" class="btn normal-btn">查看物流</a></div>
		    </li>
        </ul>
    </div>
	
</div>
</ion-content>