<ion-view title='产品列表'>
<ion-content>
  <ion-refresher pulling-text="下拉刷新"	on-refresh="doRefresh()"></ion-refresher>
<!--   <div id="content"> -->
	  <section style=" background-color: #F6F3EE; padding-top: 5px; padding-bottom: 6px; ">
	  <ul class="productlst">
	    <li ng-repeat="p in products" ng-click="clickDetail('{{p.id}}')">
	      <div class="productlst-img-box" style="background-image:url(http://www.meio100.com/pic/{{p.coverUrl}})"></div>
	      <p class="productlst-p-title">{{p.name}}</p>
	      <div class="productlst-p-price"><div class="col-6 text-left">美〇价 <span>¥ {{(p.price*discount).toFixed(2)}}</span></div><div class="col-6 text-right">市场价<strike>¥ {{(p.price).toFixed(2)}}</strike></div></div>
	    </li>
	  </ul>
	  </section>
<!--   </div> -->
  <ion-infinite-scroll on-infinite="loadGoods()" ng-if="goods_load_over"></ion-infinite-scroll>
</ion-content>
</ion-view>
