<ion-view title="美O圈" >
<ion-content>
  一些内容!
</ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-assertive" style="padding: 0">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<ion-tab title="活动" icon-off="icon-menu-active" icon-on="icon-menu-active-off" href="#/app/index">
	  <ion-nav-view name="tab-index"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="产品" icon-off="icon-menu-product" icon-on="icon-menu-product-off" href="#/app/product">
	  <ion-nav-view name="tab-product"></ion-nav-view>
    </ion-tab>
	
	<ion-tab title="美O圈" icon-off="icon-menu-quan" icon-on="icon-menu-quan-off" href="#/app/quan">
	  <ion-nav-view name="tab-quan"></ion-nav-view>
    </ion-tab>
	
	<ion-tab title="订单" icon-off="icon-menu-order" icon-on="icon-menu-order-off" href="#/app/order">
	  <ion-nav-view name="tab-order"></ion-nav-view>
	</ion-tab>
  </ion-tabs>
</ion-footer-bar>
