<ion-modal-view>
  <ion-header-bar class="bar-stable"> <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="closeLogin()"></a>
    <h1 class="title">用户登录</h1>
    <a class="button icon-left button-clear " ng-click="register()">注册</a> </ion-header-bar>
  <ion-content>
    <div class="list padding">
      <form name="userlogin" ng-submit="doLogin()">
        <ul class="form" style=" padding: 5px;">
          <li> <input ng-model="loginData.username" type="tel" class="form-text" placeholder="手机号"/></li>
          <li> <input ng-model="loginData.password" type="password" class="form-text" placeholder="密码"/></li>
          <li><button class="button button-block button-assertive" type="submit">登    录</button></li>
        </ul>
      </form>
      <div class="row">
        <div class="col"> <!-- <a ng-click="register()" class="assertive decora-none">快速注册</a> -->&nbsp;</div>
        <div class="col text-fr bar-stable"> <a class="gery decora-none" href="#/step/step1" ng-click="closeLogin()">找回密码</a> </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
