<ion-modal-view> 
<ion-header-bar class="bar-stable">
<a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="close_usercoin()"></a>
   <h1 class="title">用户积分</h1>
   <a class="button button-clear" style="background:url(img/ionic/icon-cart.png) center center no-repeat; background-size:21px 21px; width:28px" ng-click="cartClick()"></a>
</ion-header-bar> 
<ion-content style="">
<ul class="ul-block bg-white">
	<li><i class="icon-user-01"></i> <span>客户姓名：</span><span>{{usercoin_username}}</span>
	</li>
	<li style="border-bottom: none; "><i class="icon-score-01"></i> <span id="score">当前积分：</span><span>{{usercoin_score}}</span></li>
</ul>
<div style="background-color:#F6F3EE; width: 100%; height: 10px;">&nbsp;</div>
<ion-refresher pulling-text="下拉刷新" on-refresh="usercoin_doRefresh()"></ion-refresher>
<ul class="ul-block bg-white a-gray">
	<li ng-repeat="s in usercoin_data_list">
		<div class="col-6 text-left">{{s.remark}}</div>
		<div class="col-6 text-right line-height-1 padding-top-5">
			<p>{{s.state==0?'+':'-'}}{{s.score}}</p>
			<p>{{s.showcreateTime}}</p>
		</div>
	</li>
</ul>
<div style="background-color:#ffffff; width: 100%; height: 10px;">&nbsp;</div>
<ion-infinite-scroll on-infinite="usercoin_loadmore()" ng-if="usercoin_load_state"></ion-infinite-scroll>
</ion-content>
</ion-modal-view>