<ion-modal-view> 
<ion-header-bar class="bar-stable">
<a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="closeRegister()"></a>
   <h1 class="title">用户积分</h1>
</ion-header-bar> 
<ion-content>
<ul class="ul-block bg-white">
	<li><i class="icon-user-01"></i> <span id="userName">客户姓名</span>
	</li>
	<li style="border-bottom: none"><i class="icon-score-01"></i> <span id="score">当前积分</span></li>
</ul>
<ul class="ul-block bg-white row a-gray">
	<li>
		<div class="col-6 font-14 text-left">积分消费</div>
		<div class="col-6 font-12 text-right line-height-1 padding-top-10">
			<p class="margin-right-15">-3000</p>
			<p class="margin-right-15">2015/05/19</p>
		</div>
	</li>
	<li>
		<div class="col-6 font-14 text-left">购物获得积分</div>
		<div class="col-6 font-12 text-right line-height-1 padding-top-10">
			<p class="margin-right-15">-3000</p>
			<p class="margin-right-15">2015/05/19</p>
		</div>
	</li>
	<li>
		<div class="col-6 font-14 text-left">购物获得积分</div>
		<div class="col-6 font-12 text-right line-height-1 padding-top-10">
			<p class="margin-right-15">-3000</p>
			<p class="margin-right-15">2015/05/19</p>
		</div>
	</li>
</ul>
</ion-content>
</ion-modal-view>