<ion-modal-view>
 <ion-header-bar class="bar-stable">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="closeLogistics()"></a>
    <h1 class="title">物流详情</h1>
  </ion-header-bar>
  <ion-content style="background:#E5E5E5;">
     <div class="log-tabbar fixed-top"> 
	  <!-- 快递信息 -->
	  <div class="log-top">
	    <div class="img left">
	    <img alt="" ng-src="{{orderListImg}}" width="52.5px" height="52.5px">
	    </div>
	    <div class="log-top-content">
      	  <div class="log-top-content-title">{{companyName}}</div>
	      <div class="log-top-content-attr">
	        <p class="text-left">运单编号：{{postId}}</p>
	        <p class="text-left">物流状态：<span ng-if="logisticsState == 3">物流状态：签收成功</span></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="wrap-page" > 
	  <!-- 商品详情 -->
	  <div class="log-content">
	    <div class="content" id="item">
	      <div class="content-title"><span>商品详情</span></div>
	      <div class="content-product" ng-if="orderItemList.length == 0">{{orderItemMsg}}</div>
	      
	      <div class="content-product" ng-if="orderItemList.length > 0" ng-repeat="oitem in orderItemList">
	      	<div class="left"><img ng-src="http://121.40.255.179/Cetus/pic/{{oitem.imgUrl}}" class="img" /></div>
	      	<div class="product-right right text-right">
	      		<p class="font-12" style="margin-top:5px;"><span>￥</span>{{oitem.prince}}</p>
	      		<p class="product-num">x{{oitem.num}}</p>
	      	</div>
	      	<div class="log-product">
	      		<p class="log-product-title">{{oitem.name}}</p>
				<p class="log-product-attr">{{oitem.parameter | delHtmlTag}}</p>
	      	</div>
	      </div>
	    </div>
	  </div>
	  <!-- 物流详情 -->
	  <div class="log-content">
	    <div class="content">
	      <div class="content-title"><span>物流详情</span></div>
	      <!-- begin -->
	      <div class="demo" ng-if="logisticsState == 0">
	      	 <div class="errordiv"><p>运单编号：{{postId}} 暂无物流单结果</p></div>
	      </div>
	      <div class="demo" ng-if="logisticsState == 1">
	      	 <div class="history">
			 	<div class="history-date">
					<ul>
						<li ng-if="logis.numberOne == 1" class="green" ng-repeat="logis in logisticsList">
							<dl><dt><span class="content-info">{{logis.context}}</span></dt>
								<dt><span class="time">{{logis.time}}</span></dt></dl>
						</li>
						<li ng-if="logis.numberOne != 1" ng-repeat="logis in logisticsList">
							<dl><dt><span class="content-info">{{logis.context}}</span></dt>
								<dt><span class="time">{{logis.time}}</span></dt></dl>
						</li>
					</ul>
				</div>
			</div>
	      </div>
	      <div class="demo" ng-if="logisticsState != 0 && logisticsState != 1 && logisticsState != 3">
	      	 <div class="errordiv"><p>快递公司数据异常，请稍候查询。</p></div>
	      </div>
	      <!-- end --> 
	    </div>
	  </div>
	</div>
  </ion-content>
</ion-modal-view>
