<ion-modal-view>
 <ion-header-bar class="bar-stable">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="close_question_add()"></a>
    <h1 class="title">问题新增</h1>
  </ion-header-bar>
  <ion-content style="background:#F6F3EE;">
  	<form ng-submit="saveQuestion()">
    <ul class="address">
        <li><textarea rows="20" cols="" style="width: 100%" ng-model="questionData.content"></textarea></li>
        <li><button class="button button-block button-assertive" type="submit">提交</button></li>
    </ul>
    </form>
  </ion-content>
</ion-modal-view>
