<ion-modal-view>
 <ion-header-bar class="bar-stable">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="closeUserInfo()"></a>
    <h1 class="title">会员信息</h1>
  </ion-header-bar>
  <ion-content>
		<form ng-submit="bandInvitation()">
	<ul class="ul-block1">
	    <li> <i class="icon-username-01" style="color:#9669dc"></i> <span>会员姓名</span> <span class="right text-right" style=" color:#171717;" id="name">{{userinfo_name}}</span> </li>
	    <li> <i class="icon-vip-01" style="color:#fa82a5"></i> <span>会员卡</span> <span class="right text-right" style=" color:#171717; " id="userNo">{{userinfo_userNo}}</span> </li>
	    <li> <i class="icon-type-01" style="color:#ffa63c"></i> <span>会员类型</span> <span class="right text-right" style=" color:#171717; " id="userType">{{userinfo_userType}}</span> </li>
	    <li onclick="goUserCoin();"> <i class="icon-coin-01" style="color:#a2d152"></i> <span>当前积分</span> <span class="right text-right" style=" color:#171717; " id="myScore">{{userinfo_myScore}}</span> </li>
	    <li> <i class="icon-total-01" style="color:#2ebda4"></i> <span>会累计消费金额</span> <span class="right text-right" style=" color:#171717; " id="myMoney">{{userinfo_myMoney}}</span> </li>
	    <li> <i class="icon-invite-01" style="color:#ffa63c"></i> <span>会员邀请码</span> <span class="right text-right" style=" color:#171717; " id="myInvitationCode">{{userinfo_myInvitationCode}}</span> </li>
	    <li ng-if="state ==0"> <i class="icon-invite-01" style="color:#ffa63c"></i> <span>邀请人</span> <span class="right text-right" style=" color:#171717; " id="InvitationName">{{userinfo_InvitationName}}</span> </li>
		<li ng-if="state ==1"> <i class="icon-invite-01" style="color:#ffa63c"></i> <span>邀请人</span> <span ><a href="#" class="btn sm-btn-rt"  ng-click="openInvitationEdit()">编辑</a></span> </li>
		<ul ng-if="c_state==1">
		    <li>
		      <input type="text" class="form-text" placeholder="我的邀请码" ng-model="userInfoData.invitationCode"/>
		    </li>
		    <li><button class="button button-block button-assertive" type="submit">提交</button></li>
	   </ul>
	</ul>
		</form>
  </ion-content>
</ion-modal-view>
