/* starry */
@font-face{font-family:'幼圆';src:url('../fonts/yy.ttf') format('truetype');}
/* base style begin*/
.wrap-page {
  -webkit-overflow-scrolling: touch;
}
.wrap-page {
 margin:auto; 
 max-width:500px;
 padding-bottom: 10px;
}
ul,li{list-style: none;}
a{text-decoration: none;}
.col-2 {width:16.6666667%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-3 {width:25%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-4 {width:33.33333333%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-5 {width: 41.66666667%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-6 {width:50%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-7 {width: 58.33333333%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-8 {width: 66.6666667%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-9 {width: 83.3333333%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-10 {width: 91.6666667%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-11 {width: 91.6666667%;position: relative; min-height: 1px;float:left;text-align: center;}
.col-12 {width: 100%;position: relative; min-height: 1px;float:left;text-align: center;}
.margin-right-15{margin-right: 15px}
.padding-top-5{padding-top: 5px;}
.padding-15{padding: 15px;}
.left{float:left;}
.right{float:right;}
.btn{-webkit-border-radius: 3x; -moz-border-radius: 3px; border-radius: 3px; }
.normal-btn{border:1px solid #ec3473;color:#ec3473;font-size: 0.65rem;padding:5px 10px;display: inline-block;margin: auto 3px }
.danger-btn{border:1px solid #000;color:#000;font-size: 0.65rem;padding:5px 10px;display: inline-block;margin: auto 3px }
.lg-btn{background:#ec3473;color:#ffffff; font-size: 0.75rem;width: 100%;height:45px;line-height:45px;display: inline-block;text-align: center;}
.check-btn{background:#CCC;color:#ffffff;font-size: 1rem;width: 100%;height:45px;line-height:45px;display: inline-block;text-align: center;}
.text-left{text-align: left}
.text-right{text-align: right}
.text-center{text-align: center}
/*表单*/
input::-webkit-input-placeholder { /* WebKit browsers */ color:#000000; }
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#000000; }
input::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#000000; }
input:-ms-input-placeholder { /* Internet Explorer 10+ */ color:#000000; }
.form{padding:15px;}
.form li{margin-bottom: 10px}
.form-text{background: #cccccc;height:45px;width:100%;line-height: 45px;font-size: 0.875rem;-webkit-border-radius: 3x; -moz-border-radius: 3px;
border-radius: 3px;padding-left:10px;padding-right:10px;}
.form-textarea{background: #cccccc;height:90px;width:100%;line-height: 45px;font-size: 0.875rem;-webkit-border-radius: 3x;-moz-border-radius: 3px;
border-radius: 3px;padding-left:10px;padding-right:10px;}
.form-area{background: #cccccc;height:45px;width:width:23.33333333%;line-height: 45px;font-size: 0.875rem;-webkit-border-radius: 3x; -moz-border-radius: 3px;border-radius: 3px;padding-left:10px;padding-right:10px;position: relative;float:left;}
.f17b{ color:#171717; font-weight:bold;}
.fwb{font-weight:bold;}
.fba{ color:#BABABA;}
.fc0{ color:#000;}
.fcec3473{ color:#ec3473;}
.fz75{ font-size:0.75rem;}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  display: block;
  padding-top: 2px;
  padding-left: 10px;
  padding-right:10px;
  height: 45px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px; }
/* base style end*/
.icon-cart-01{ font-size: 0.1rem; width: 22px; height: 22px; right: 15px;}
#content{
	position: relative;
	width: 16rem;
	margin:  0 auto;
}
#guide{
	position: absolute;
	left: 50%;
	margin-left: -8rem;
	width: 16rem;
	height: 100%;
}
.guide-arrow{
	position: absolute;
	width: 2rem;
	height: 1rem;
	background: url(../img/guide-arrow.png) 0 0 no-repeat;
	background-size: 2rem 0.9rem;
	bottom: 30px;
	left: 50%;
	margin-left: -1rem;
}
.guide-bg-a{
	background: url(../img/welcome-a.jpg) 0 0 no-repeat;
	background-size: 16rem;
}
.guide-bg-b{
	background: url(../img/welcome-b.jpg) 0 0 no-repeat;
	background-size: 16rem;
}
.guide-bg-c{
	background: url(../img/welcome-c.jpg) 0 0 no-repeat;
	background-size: 16rem;
}
.guide-bg-d{
	background: url(../img/welcome-d.jpg) 0 0 no-repeat;
	background-size: 16rem;
}
.guide-bg-e{
	background: url(../img/welcome-e.jpg) 0 0 no-repeat;
	background-size: 16rem;
}
.guide-sure{
	position: absolute;
	width: 6rem;
	height: 1.8rem;
	background: url(../img/guide-sure.png) 0 0 no-repeat;
	background-size: 5.9rem 1.7rem;
	bottom: 30px;
	left: 50%;
	margin-left: -3rem;
	animation: blink 3s ease-in-out;
	-moz-animation: blink 3s ease-in-out;
	-webkit-animation: blink 3s ease-in-out;
	-o-animation: blink 3s ease-in-out;
}
#btn-group{
	border-top: 1px solid #e1e1e1;
	height: auto;
}
#btn-group:after{
	content: " "; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#btn-group a{
	float: left;
	display: block;
	margin: 0.44rem 0.859rem;
	position: relative;
}
#btn-group a img{
	width: 2.25rem;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.text-fr{
	text-align: right;
}
.text-fl{
	text-align: left;
}
.text-center{
	text-align: center;
}
.fanli{
	width: 6.4rem;
	height: 6.90rem;
	background: url(../img/fanli.jpg) 0 center no-repeat;
	background-size: 6rem;
	border-right: 1px solid #cccccc;
	margin-left: 0.15rem;
}
#b-i-g{
	border-top: 5px solid #cccccc;
	padding: 0.4rem 0;
}
#b-i-g:after{
	content: " "; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clear:after{
	content: " "; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#g-add{
	width: 100%;
	text-align: center;
	color: #333333;
	position: relative;
}
#g-add span{
	position: relative;
	background: url(../img/arrow.png) 0 center no-repeat #fff;
	background-size: 0.54rem;
	padding-left: 20.25px;
	font-size: 0.41rem;
	z-index: 10;
}
#g-add span:before{
	content: '';
	border-top: 1px solid #000;
	left: 0;
	width: 100%;
}
#g-add .hr{
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	z-index: 9;
	border-top: 1px dashed #ccc;
}
#g-add em{
	color: #ed0206;
}

/* tabs style begin*/
.tab-title{ font-family:'幼圆' ; font-weight: normal; font-size: 0.75rem;}
.icon-menu-active{
	background: url(../img/ionic/icon-menu-active.png) center center no-repeat;
	background-size: 20.75px;
}
.icon-menu-active-off{
	background: url(../img/ionic/icon-menu-active-off.png) center center no-repeat;
	background-size: 20.75px;
}
.icon-menu-product{
	background: url(../img/ionic/icon-menu-product.png) center center no-repeat;
	background-size: 20.75px;
}
.icon-menu-product-off{
	background: url(../img/ionic/icon-menu-product-off.png) center center no-repeat;
	background-size: 20.75px;
}
.icon-menu-quan{
	background: url(../img/ionic/icon-menu-quan.png) center center no-repeat;
	background-size: 20.75px;
}
.icon-menu-quan-off{
	background: url(../img/ionic/icon-menu-quan-off.png) center center no-repeat;
	background-size: 20.75px;
}
.icon-menu-order{
	background: url(../img/ionic/icon-menu-order.png) center center no-repeat;
	background-size: 20.75px;
}
.icon-menu-order-off{
	background: url(../img/ionic/icon-menu-order-off.png) center center no-repeat;
	background-size: 20.75px;
}
/* tabs style end*/

/* sidemenu style begin*/
.menu-left{ float:left; color:#999999}
.menu-right{ float:right;}
.username{ font-family:"幼圆", "Microsoft YaHei UI"; color:#000; font-weight:bold;}
/* sidemenu style end*/
/*index*/
.productlst{padding:0 15px;}
.productlst li{margin:15px auto;background: #ffffff;border:1px solid #e5e5e5;}
.productlst-img-box{height:120px;background-size: 100% auto;background-position: center center;background-repeat: no-repeat; }
.productlst-p-title{font-size:0.65rem;color:#585859;margin:5px 10px 0 10px;white-space:nowrap;/*强制文本在一行内显示*/
text-overflow:ellipsis; /*溢出省略号，支持ie、safari（webkit）*/
-o-text-overflow:ellipsis; /*溢出省略号，支持opera*/
overflow:hidden;/*溢出隐藏*/
-moz-binding:url('ellipsis.xml#ellipsis');/*溢出省略号，支持firefox*/}
.productlst-p-price{font-size:0.65rem;color:#9d9d9e;margin:0 10px 10px 10px; height:15px;}
.productlst-p-price span{color:#ec3473;font-weight: bold;font-size: 0.65rem;margin-left:10px;}
.productlst-p-price strike{color:#939394;font-size: 0.65rem;margin-left:10px;}
.shop-name{height:45px; line-height:45px; background-color:#FFF; color:#676768; text-align:center; font-family:'幼圆'; font-size:0.875rem; font-weight:normal;}


@keyframes blink{
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-moz-keyframes blink {
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes blink {
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-o-keyframes blink {
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes slideup {
0%   {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes slidedown {
0%   {opacity: 1;}
100% {opacity: 0;}
}
/*会员中心*/
.bbn{ border-bottom: none;}
.ul-block1{padding:0 15px;margin-top: 10px;margin-bottom: 10px;}
.ul-block1 li{height:50px;line-height:50px;border-bottom:1px solid #999999;}
.ul-block1 li i{font-size: 1rem;margin-right: 10px;position: relative;top:4px;}
.ul-block1 li span{font-size:0.65rem;color:#999999;}
.ul-hide{padding:0 15px;margin-top: 10px;margin-bottom: 10px;}
/*我的积分*/
.ul-block{padding-left:15px; background:#ffffff;margin-bottom: 10px; max-width:500px;}
.ul-block li{height:50px;line-height:50px;border-bottom:1px solid #999999;  margin-right:15px;}
.ul-block li p{ margin: 0 auto; padding: 0;}
.line-height-1{line-height: 1.5}
.bg-white{background: #ffffff}
.a-red{color:#ec3473;}
.a-gray{color:#999999;}
/*我的活动*/
.ul-activity-block{padding-left:15px; background:#ffffff;margin-bottom: 10px;}
.ul-activity-block li{height:50px;line-height:50px;border-bottom:1px solid #999999;  margin-right:15px;}
.set-lst-title{color:#999999;font-size:0.65rem;padding-right: 75px;}
.set-lst-state{width:50px;margin-right: 15px;}
.set-lst-state span{font-size:0.65rem;}
.set-lst-state .icon-select-01{margin-top:15px;}
.set-lst-state .icon-select-satatus-01{margin-top:20px; color:#ec3473;font-size:0.75rem;}
/*设置美O圈的详情界面*/
.quan-header{ height: 25px;  padding: 10px 10px 0 10px; color: #D4D4D4; }
.quan-header .l-hr{ position: relative; border-bottom: 1px solid #D4D4D4; height: 2px; width: 92%; z-index: 888; margin-top: 8px; }
.quan-header .l-point{ position: relative; width:8px ; top:-2px; height: 8px;margin-top: 8px; background-color: #D4D4D4; border-radius: 180px;z-index: 888;}
.mo-h-left,.mo-h-right{ height: 25px; width: 35%;}
.mo-h-left,.mo-h-right{ float: left;}
.mo-h-time{ height: 25px; width: 30%;float: left; background-color: #ffffff; text-align:center; z-index: 999; color: #D4D4D4; font-weight:600; font-size: 0.65rem;}
.mo-h-right{ float: left;}
.quanimg{ padding: 0 10px;}
.quanfont{height:auto;margin:15px;background-size: cover;background-position: center center;font-size: 0.75rem;;color: #acacac;}
.quan-p{padding: 22px 15px 0 15px;text-align: center; color:#696969; font-family: "幼圆"; font-size: 1.025em; font-weight: 700;}
