<ion-modal-view> 
<ion-header-bar class="bar-stable">
<a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="closeAccount()"></a>
   <h1 class="title">账单列表</h1>
   <a class="button button-clear" style="background:url(img/ionic/icon-cart.png) center center no-repeat; background-size:21px 21px; width:28px" ng-click="cartClick();closeAccount();"></a>
</ion-header-bar> 
<ion-content >
<section style="background-color:#4AA7EF; background-size: 16rem 8rem;">
  <ion-slide-box on-slide-changed="slideAccountChanged($index)" does-continue="false" show-pager="false" active-slide="ion_slide_index">
    <ion-slide ng-repeat="d in slides"><!-- 列出一年的账单 -->
      <div class="box" ng-click="" style="width: 16rem; height: 8rem; text-align: center; background-size: 16rem 8rem;background-color: #4AA7EF;">
      	<p style=" color:#ffffff; margin: 5px 0; font-size:0.65rem;">{{d.title}}</p>
      	<div style=" background: #ffffff; width: 80%; height: 80%; margin: 0 auto; position: relative;">
      	 <b style=" background-color:#4AA7EF; position: absolute; left: -2px; top:63px; width: 6px; height: 6px; border-radius:50%; "></b>
      	 <b style=" background-color:#4AA7EF; position: absolute; right: -2px; top:63px; width: 6px; height: 6px; border-radius:50%; "></b>
      	 <p style="font-size:0.55rem; text-align: left;padding: 10px 0 0 8px; ">账单金额</p>
      	 <p style="font-size:0.65rem; text-align: left;padding: 0 0 5px 8px; width: 100%; border-bottom: 1px dotted #cccccc;">￥<span style="font-weight: 700; color:#000000;">{{d.acc_rebate}}</span></p>
      	 <p style="font-size:0.65rem; text-align: left;padding: 0 0 0 8px; width: 100%; ">开始时间：<span>{{d.acc_start_time}}</span></p>
		 <p style="font-size:0.65rem; text-align: left;padding: 0 0 0 8px; width: 100%; ">结束时间：<span>{{d.acc_end_time}}</span></p>
      	</div>
      </div>
    </ion-slide>
  </ion-slide-box>
</section>
<section>
<ion-refresher pulling-text="下拉刷新" on-refresh="load_rebate_data()"></ion-refresher>
<!-- <h3 style='text-align: center;padding-top: 20px; font-size:0.65rem; color:#ccc;' ng-if="rebate_list.length == 0">您本期无账单</h3> -->
<ul class="ul-block bg-white a-gray">
	<li>
		<div class="col-6 text-left" style="width:65%;color:#000000;">返利资金：</div>
		<div class="col-6 text-right" style="width:35%;color:#000000;">
			<p>{{acc_rebate}}</p>
		</div>
	</li>
	<li>
		<div class="col-6 text-left" style="width:65%; color:#000000;">月度业绩：</div>
		<div class="col-6 text-right" style="width:35%;color:#000000;">
			<p>{{acc_money}}</p>
		</div>
	</li>
</ul>
<div style="background-color:#ffffff; width: 100%; height: 10px;">&nbsp;</div>
</section>
<!-- <ion-infinite-scroll on-infinite="usercoin_loadmore()" ng-if="usercoin_load_state"></ion-infinite-scroll> -->
</ion-content>
<!-- tabs -->
<ion-footer-bar align-title="left" class="bar-assertive" style="padding: 0">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<div class="footer fixed-bottom">
	  <button type="button" class="btn addcart col-12 noborder" ng-click="to_rebate_month(-1)">确认对账</button>
	</div>
  </ion-tabs>
</ion-footer-bar>
</ion-modal-view>