<ion-header-bar class="bar-stable" style="border-bottom:1px solid #b2b2b2 !important">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="backToIndex()"></a>
    <h1 class="title">我的购物车</h1>
</ion-header-bar>
<ion-content class="has-subheader">
	
	 <div ng-if="cartList.length == 0">
	     你的购物车现在还是空的，先去逛逛吧
	 </div>
	  
     <div ng-if="cartList.length > 0">
     	<div class="carlst-radio left selectAll"><i ng-class="allCheckClass" ng-click="allchecked()"></i></div>
     	<div class="carlst-content "><p class="carlst-content-attr">全选</p></div>
     </div>
	   
	<ul class="carlst" ng-repeat="c in cartList" ng-if="cartList.length > 0">
	    <li>
	    	<div class="carlst-radio left margin-top-25 select">
	    		<i ng-if="c.checkClass == null" class="icon-unselect-01" ng-click="choseCheck(c)"></i>
	    		<i ng-if="c.checkClass != null" class="{{c.checkClass}}" ng-click="choseCheck(c)"></i>
	    	</div>
	    	<div class="carlst-oper right text-right margin-top-11">
	    		<a ng-click="updProductNum(c, 1)" class="btn-lf left reduction"><i class="icon-sub-01"></i></a>
	  			<a ng-click="updProductNum(c, 2)" class="btn-rt left plus"><i class="icon-add-01"></i></a>
	    		<span class="cart-num ">x<b id="td-amount">{{c.productNum}}</b></span>
	    		<p class="price" style="margin-top:15px">
	    		<label class="left font-12">总价: </label>
	    		<span>￥</span> <b class="td-itemsum">{{(c.product.price*discount*c.productNum).toFixed(2)}}</b></p>
	    	</div>
	    	<div class="carlst-content ">
	    		<p class="carlst-content-title">{{c.product.name}}</p>
	    		<p class="carlst-content-attr">单价：￥<span class="td-price">{{(c.product.price*discount).toFixed(2)}}</span></p>
	    		<p class="carlst-content-attr">市场价：￥<strike class="td-price">{{c.product.price.toFixed(2)}}</strike></p>
	    		<p class="carlst-content-attr">&nbsp;</p>
	    	</div>
	    </li>
	</ul>
	
	<div>
	   订单合计：<span>{{allMoney.toFixed(2)}}</span>
	   <button ng-click="toOrder()" class="btn addcart right">去结算</button>
	</div>
</ion-content>