<ion-modal-view>
 <ion-header-bar class="bar-stable">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="close_question_show()"></a>
    <h1 class="title">问题查看</h1>
  </ion-header-bar>
  <ion-content style="background:#F6F3EE;">
    <ul class="address">
        <li class="margin-15 padding-10 clear">
           	 问题内容
        </li>
        <li class="margin-15 padding-10 clear">
            <div class="">{{questionData.content}}</div>
        </li>
        <li class="margin-15 padding-10 clear" style="color: #EC3473;">
           	 问题回复
        </li>
        <li class="margin-15 padding-10 clear">
            <div class="">{{questionData.answer==null?'[未回复]':questionData.answer}}</div>
        </li>
        <div class="padding-15">
        
         <a href="javaScript:void(0)" class="add-newads text-center" ng-click="show_address('')">
          <button class="button button-block button-assertive" type="submit">提交新问题</button>
         </a>
        </div>
    </ul>
  </ion-content>
</ion-modal-view>
